<div class="col s12 m12">
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{reply.author}}</span>
      <p>{{reply.body}}</p>
    </div>
    <div class="card-action">

    </div>
  </div>
</div>
