<!-- <div class="container"> -->

<nav>
   <div class="nav-wrapper">
     <a href="/" class="brand-logo center">Yak Yik</a>

     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li>{{#link-to 'index'}}Home{{/link-to}}</li>
       <li>{{#link-to 'about'}}About{{/link-to}}</li>
       <!-- <li>{{#link-to 'index'}}New Question{{/link-to}}</li> -->
     </ul>
   </div>
 </nav>

{{outlet}}
<!-- </div> -->
